body{
  background-color: #7681f1;
}
.conteiner_dashboard{
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    height: 100%;
    width: 350px;
    margin: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    background-color: #f5f6fa;
}

.title {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.subtitle {
    display: block;
    margin: 0 0 20px;
    padding: 10px 10px;
}

.graph {
    background-color: #FFFAF0;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}
