body {
  font: 14px "Roboto", sans-serif;
}
.conteiner_login {
  height: 100%;
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box_login {
  height: 100%;
  width: 350px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  background: #fafaff;
}

.title_login {
  margin: 10px;
}

.form {
  padding: 10px 10px;
  display: block;
}

.divider {
  margin: 20px 0;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  opacity: 0.2;
  border: 0 none;
}

.label {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
 }

.input {
  display: block;
  margin: 0 0 20px;
  padding: 15px 15px;
  width: 84%;
}

.button {
  background: #fa9f0c;
  color: #f5f3f0;
  border: 0px;
  border-radius: 5%;
  padding: 10px;
}

.button_registration {
  color: #fa9f0c;
  margin-left: 20px;
  text-decoration: none;
}
