  body {
    background-color: #383b44;
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
  }

  .sell {
    height: 100%;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .sell__form__section {
    height: 100%;
    width: 50%;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(136,84,195,0.3);
    padding: 30px 30px;
    background-color: #282f46;
  }

  .form {
    padding: 10px 10px;
    display: block;
    background-color: #ffffff;
  }

  .sell__label {
    display: block;
    font-size: 20px;
    padding: 15px;
    margin: 0 0 10px;
    text-transform: uppercase;
   }

  .sell__input {
    display: block;
    margin: 0 0 20px;
    padding: 15px 15px;
    width: 84%;
  }

  .sell__button {
    background:  #994daa;
    color: #f5f3f0;
    border: 0px;
    border-radius: 5%;
    padding: 10px;
    text-decoration: none;
  }
